#gap {
  @include theme(green);
  min-height: 50vh;
  padding: 4%;

  h1.title {
    @include head-text(white);
  }

  .text__container {
    @include flex(row, space-around, center);

    img {
      flex: 1 1 10rem;
      height: 150px;
      transition: width .5s;
    }
  }

  p.desc {
    font-size: 1.1rem;
    margin-top: 1rem;
    font-weight: 300;
    flex: 7 1 20rem;
    text-indent: 3rem;
    text-align: justify;
    transition: font-size 1s;
    font-family: $font-normal;
  }

  mark {
    color: $main-yellow;
    background: transparent;
  }

  .lineChart__container {
    color: black;
    background: white;
    padding: 1rem 2rem;
    border-radius: 5px;
    width: 80%;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 2rem;
    transition: all .5s;
    text-align: center;
  }

  h2.title {
    color: $sec-dark;
    font-size: $h3;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 400;
  }

  .GAP-each-province__container {
    margin-top: 20px;
  }

  .options {
    ul {
      @include flex(row, space-around, center);
    }

    li {
      padding: 15px 30px;
      border-radius: 10px;

    }
  }

  .GAP-options {
    margin: 1.5rem auto;
    width: 80%;

    ul {
      @include flex(row, space-around, center);
    }

    li {
      width: 120px;
      text-align: center;
      padding: 10px;
      border-radius: 5px;
      user-select: none;
      margin: 5px;

      &:hover {
        background: #fcd98d;
        cursor: pointer;
      }
    }

    .active {
      background: #fcd98d;
    }
  }

  .GAP-agriarea-wrapper {
    position: relative;
  }

  .wrapper {
    display: none;
    width: 90%;
    margin: auto;
    padding-bottom: 20px;
  }

  .wrapper.open {
    display: block;
  }

  // #AGRIACUTURAL AREAS

}

@media (max-width: 900px) {
  #gap {
    .text__container {
      display: block;

      img {
        display: block;
        margin: auto;
        margin-top: 2rem;
        width: calc(240px + 5vw);
      }
    }

    p.desc {
      display: block;
      font-size: calc(0.8rem + 0.8vw);
    }
  }
}

@media (max-width: 800px) {
  #gap {
    h1.title {
      font-size: $h1-800;
    }


    .lineChart__container {
      width: 90%;
      padding: 1rem;
    }

    h2.title {
      font-size: calc(0.8rem + 1vw);
    }
  }
}

@media (max-width: 500px) {
  #gap {
    .lineChart__container {
      width: 100%;
      padding: 0.5rem;

    }
  }
}