$main-green: #0f979b;
$main-yellow: #ffc302;
$sec-yellow: #EDB500;
$main-lightyellow: #fff3e2;
$main-pink: #ff5975;
$main-dark: #323235;
$sec-dark: #404B4B;
$main-lightgray: #7b7b7b;
$sec-lightgray: #ababab;
$main-light: #DBDBDB;
$sec-green: #009240;
$main-blue: #03539B;
$test: #006eff;

$font-logo: "Niramit",
sans-serif;
// $font-normal: "Kanit",sans-serif;
$font-normal: "Mitr",
sans-serif;

$logo: 2rem;
$xl: 4rem;
$h1: 3rem;
$h2: 1.8rem;
$h3: 1.3rem;
$normal: 1rem;
$small: 0.8rem;

$normal-800: calc(0.65rem + 0.5vw);
$h1-800: calc(1.2rem + 1vw);
$h2-800: calc(0.9rem + 1vw);
$h3-800: calc(0.7rem + 1vw);

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin head-text($color) {
  font-size: $h2;
  font-family: $font-normal;
  color: $color;
  font-weight: 400;
  transition: font-size 0.5s;
}

@mixin theme($color) {
  font-family: $font-normal;
  font-weight: 300;

  @if($color==green) {
    background: $main-green;
    color: white;
  }

  @else if($color==white) {
    background: white;
    color: $main-dark;
  }

  @else if($color==gray) {
    background: $main-light;
    color: $main-dark;
  }
}

@mixin center {
  left: 50%;
  right: -50%;
  transform: translate(-50%);
}

//#GLOBAL STYLE
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  outline: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
}

_ html {
  font-size: 62.5%;
}

.table__container {
  overflow-x: auto;
}

.section-title__container {
  width: 90%;
  margin: 0 auto 2rem auto;
  padding: 20px;
  text-align: center;
  background: $main-green;
  color: white;
  border-radius: 10px;
  position: relative;

  img {
    position: absolute;
    left: 5%;
    top: 10%;
    z-index: 0;
  }

  .tonnam-section__img {
    width: 150px;
  }

  .klangnam-section__img {
    width: 140px;
  }

  .plainam-section__img {
    width: 140px;
  }

  p {
    font-size: $normal;
    position: relative;
    z-index: 1;
  }
}

h1.section__title {
  font-size: $xl;
  font-weight: 400;
  text-align: center;
  padding-bottom: 15px;
  font-family: $font-normal;
  display: inline-block;
}



img.label {
  position: fixed;
  width: 150px;
  bottom: 5%;
  right: 2%;
  z-index: 5;
  pointer-events: none;
  transition: all 0.5s;
}


@media(max-width: 1000px) {
  h1.section__title {
    font-size: calc(2.8rem + 1vw);
  }
}

@media(max-width: 800px) {
  .section-title__container {
    position: static;

    img {
      position: static;
      display: block;
      margin: 10px auto;
    }

    .tonnam-section__img {
      width: calc(140px + 1vw)
    }

    .klangnam-section__img {
      width: calc(130px + 1vw)
    }

    .plainam-section__img {
      width: calc(130px + 1vw)
    }
  }

  img.label {
    width: calc(120px + 1vw);
  }
}

@media(max-width: 700px) {
  img.label {
    opacity: 0;
  }
}