#impacts {
  @include theme(white);
  min-height: 100vh;
  padding: 4%;

  h1.title {
    @include head-text($main-green);
    margin: 1rem 0;
  }

  h2.subtitle {
    font-size: $h3;
    font-weight: 400;
    text-align: left;
  }

  .lineChart__container {
    color: black;
    background: white;
    width: 80%;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 2rem;
    transition: all .5s;
  }

  .bottom-section {
    @include flex(row, space-around, center);
    background: #e0ecec;
    position: relative;
  }

  .stackedCol__container {
    width: 40%;
  }

  .table__container {
    height: 100%;
    width: 50%;
  }

  #patients {
    th {
      font-weight: 400;
      background: #659e9e;
      padding: 0.5rem 1rem;

    }

    td {
      padding: 0.5rem 1rem;
      text-align: center;
    }
  }

  #select-year,
  #select-year--residue {
    display: inline-block;
    margin: 1.5rem 0;
    position: relative;
    width: 150px;
  }

  // #Residue
  .residue__container {
    margin-top: 3rem;
    text-align: center;
  }

  .current-year__container {
    text-align: left;
    width: 70%;
    margin: auto;
    margin-top: 2rem;

    h3 {
      font-weight: 300;
      font-size: $h3;
    }

    p {
      line-height: 35px;
    }

    img {
      position: absolute;
    }
  }

  .veggies {
    background: $main-green;
    border-radius: 10px;
    padding: 1rem 4rem;
    margin-top: 1.5rem !important;
    color: white;
    position: relative;

    p {
      margin-left: 200px;
    }

    img {
      width: calc(150px + 5vw);
      top: -70px;
      left: 10px;
    }

    mark {
      color: white;
    }

  }

  p.head {
    font-size: $h3;
  }

  mark {
    font-weight: 400;
  }

  mark.number {
    font-size: $h3;
  }

  mark.percent {
    font-size: $h2;
  }

  .fruits {
    text-align: right;
    color: #535461;
    margin-top: 3rem;
    margin-bottom: 3rem;
    position: relative;

    p {
      margin-right: 300px;
    }

    img {
      width: calc(120px + 5vw);
      top: -10px;
      right: 50px;
    }

    mark {
      color: #535461;
    }
  }

  .see-full-results {
    cursor: pointer;
    color: $main-lightgray;
    margin-top: 1.5rem 0;

    &:hover {
      text-decoration: underline;
    }
  }

  .full-results {
    display: none;
  }

  .full-results.open {
    display: block;
  }

  .residue-table {
    width: 60%;
    margin: auto;

    // border-collapse: collapse;
    th {
      font-weight: 400;
      background: #b6dfdf;
      padding: 0;
      // border: solid 1px $main-lightgray;
      padding: 0.5rem 1rem;

    }

    td {
      // border: solid 1px $main-lightgray;
      padding: 0.5rem 1rem;
      background: #eef7f7;
    }

  }

  .t-no {
    width: 20%;
  }

  .t-ex {
    width: 20%;
  }

  // #Contaminants

  .contaminant__container {
    margin-top: 4rem;
  }

  p.guide {
    color: $sec-lightgray;
    margin-top: 1rem;
    text-indent: 20px;
  }

  .prov-seals {
    @include flex(row, space-around, center);
    margin-top: 1.5rem;

  }

  .prov {
    text-align: center;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;

    p {
      pointer-events: none;
    }
  }

  .prov:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3), 0 0 12px rgba(0, 0, 0, 0.1);
  }

  img.seal {
    width: 150px;
    pointer-events: none;
  }

  img.emoji {
    width: 50px;
    margin-top: 1rem;
    pointer-events: none;
  }

  #con-info__box {
    position: relative;
    padding: 5%;
    padding-bottom: 0;
    display: none;


    img {
      position: absolute;
      right: 10%;
      top: 10%;
      width: 30%;
    }
  }

  #con-info__box.open {
    display: block;
  }

  .each-detail {
    margin-bottom: 1.5rem;
  }

  p.result {
    text-indent: 1.5rem;
  }

  mark {
    background: transparent;
  }

  .mark-river {
    color: $main-green;
    font-size: $h3;
    font-weight: 300;
  }

  .mark-others {
    color: $main-green;
  }
}