#overall {
  background: $main-dark;
  min-height: 50vh;
  position: relative;
  overflow: hidden;
  padding: 20px 3% 50px 3%;


  @include flex(row, space-between, center);

  img.bg-img {
    opacity: 10%;
    user-select: none;
    position: absolute;
    // top: -50px;
    // left: -350px;
    // bottom: 0;
    pointer-events: none;
    z-index: 1;
    width: 40%;
    transition: all 1s;
  }

  // #LEFT
  .left__container {
    flex: 1 1 390px;
    position: relative;
    z-index: 2;
  }

  .title__container {
    margin: 1rem 0;

    h1 {
      font-size: $logo;
      font-family: $font-logo;
      color: white;

      &:nth-child(3) {
        margin-bottom: 1rem;
      }
    }

    p {
      color: $main-green;
      font-family: $font-normal;
      font-size: $normal;
      text-indent: 2rem;


      &:nth-child(4) {
        font-weight: 300;
      }
    }
  }

  .logo__container ul {
    @include flex(row, stretch, center);
    margin-right: 10px;
    // display: flex;
    // justify-content: start;
    // align-items: stretch;

    a {
      cursor: pointer;
    }

    li {
      background: rgba(255, 255, 255, 0.7);
      border-radius: 5px;
      padding: 5px;
      width: 60px;
      height: 60px;
      text-align: center;
      cursor: pointer;
      transition: all 0.5s;
      margin-bottom: 10px;

    }

    a:not(:last-child) {
      margin-right: 15px;
    }

    a:nth-child(1) img,
    a:nth-child(4) img {
      width: 100%;
    }

    a:nth-child(2) img {
      width: 80%;
    }

    a:nth-child(3) img,
    a:nth-child(5) img,
    a:nth-child(6) img,
    a:nth-child(7) img {
      width: 90%;
    }
  }

  // #RIGHT
  .right__container {
    z-index: 2;
    flex: 1.3 1 400px;
    font-family: $font-normal;
    position: relative;
  }

  .all-boxes {
    @include flex(row, space-between, stretch);
    transition: width 1s;
  }

  .overall-box {
    font-size: $h3;
    display: inline-block;
    min-height: 350px;
    position: relative;
    margin: 8px;
    border-radius: 5px;
    padding: 10px;
    font-weight: 400;

    p.title {
      font-size: $h2;
      text-align: center;
      margin-top: 15px;
    }

    ul {
      margin-left: 25px;
    }


    li {
      font-size: $normal;
      list-style-type: disc;
      font-weight: 300;
      // @include flex(row, space-around, center);
      margin-bottom: 5px;
    }

    img {
      width: 80%;
      margin: 20px auto 0 auto;
      display: block;
    }

    .source {
      font-size: $small;
      font-weight: 300;
      color: #295355;
    }
  }

  .plainam {
    flex: 1 1 200px;
    background: #b3cbcc;

    .source {
      color: #457577;
    }
  }

  .tonnam {
    flex: 1 1 200px;
    background: #08878b;
  }

  .klangnam {
    flex: 1 1 200px;
    background: #6ab2b4;
  }

  p.note {
    color: $main-lightgray;
    font-weight: 300;
    font-size: $small;
    position: absolute;
    bottom: -50px;
  }
}


// #ANIMATION
// @keyframes btn-bg {
//   from {
//     background-position: left;
//   }

//   to {
//     background-position: right;
//   }
// }

// #MEDIA QUERIES
@media (max-width: 1330px) {
  #overall {
    display: block;

    img.bg-img {
      top: 10%;
      width: 80%;
    }

    .left__container {
      display: block;
      text-align: center;
    }

    .right__container {
      display: block;
    }

    .all-boxes {
      width: 80%;
      margin: auto;
    }

    .logo__container {
      display: block;
      margin-top: 20px;

      ul {
        margin-left: 0rem;
        @include flex(row, center, center);
      }
    }
  }
}

@media (max-width: 1295px) {
  #overall {
    .title__container {
      h1 {
        font-size: calc(1rem + 1vw);
      }
    }
  }
}


@media (max-width: 950px) {
  #overall {


    .all-boxes {
      width: 90%;
      margin: auto;
    }

    .logo__container ul {
      li {
        width: calc(50px + 1.5vw);
        height: calc(50px + 1.5vw);
      }
    }

    .overall-box {
      p.title {
        font-size: calc(1rem + 1vw);
      }


      li {
        font-size: calc(0.6rem + 0.8vw);
      }

      .source {
        font-size: calc(0.4rem + 0.8vw);
      }
    }
  }
}

@media (max-width: 845px) {
  #overall {
    // @include flex(column, center, center);
    padding-top: 0px;

    .title__container {
      text-align: center;
    }

    .all-boxes {
      width: 100%;
    }

    .title__container p:nth-child(4) {
      margin-bottom: 0.5rem;
    }
  }
}

@media (max-width: 706px) {
  #overall {
    img.bg-img {
      opacity: 0;
    }

    .overall-box {
      img.plainam-img {
        width: 50%;
      }
    }
  }
}

@media (max-width: 480px) {
  #overall {
    padding-bottom: 80px;

    .title__container {
      margin: 1rem 0;
    }

    .overall-box {
      img {
        width: 60% !important;
      }
    }


    .logo__container ul {
      @include flex(row, flex-start, center);
    }

  }
}