#residue {
  @include theme(white);
  min-height: 100vh;
  padding: 3% 5% 5% 5%;

  .residue__container {
    margin-top: 1rem;
    text-align: center;
  }

  h1.title {
    @include head-text($main-dark);
    margin: 1rem 0;
  }

  h2.subtitle {
    font-size: $h3;
    font-weight: 400;
    margin-top: 20px;
  }


  .current-year__container {
    text-align: left;
    width: 70%;
    margin: 2rem auto 5rem auto;

    h3 {
      font-weight: 300;
      font-size: $h3;
    }

    p {
      line-height: 35px;
    }

    img {
      position: absolute;
    }
  }

  .veggies {
    background: $main-green;
    border-radius: 10px;
    padding: 1rem 11rem 1rem 4rem;
    // margin-top: 1.5rem !important;
    color: white;
    position: relative;

    .text {
      position: relative;
      left: 25%;

      ul li {
        list-style: disc !important;
        margin-bottom: 10px;
      }
    }

    p {
      // margin-left: 200px;
      list-style-type: circle;
    }

    img {
      position: absolute;
      width: calc(120px + 6vw);
      top: 0;
      left: 5px;
    }

    mark {
      color: white;
    }

    .note {
      font-size: $small;
      color: $main-light;
    }

  }

  p.head {
    font-size: $h3;
  }

  mark {
    font-weight: 400;
    background: transparent;
  }

  mark.number {
    font-size: $h3;
  }

  mark.percent {
    font-size: $h2;
  }


  .full-results {
    // opacity: 0;
    // visibility: hidden;
    transition: opacity 0.3s;
    // position: absolute;
    left: 50%;
    // transform: translate(-50%);
  }

  table {
    max-width: 100%;
    margin: auto;
  }

  .table__container {
    max-width: 90%;
    margin: auto;
  }

  th {
    font-weight: 400;
    background: #ecac4b;
    padding: 0;
    padding: 0.5rem 1rem;
  }

  td {
    padding: 0.5rem 1rem;
    background: #fff3e2;
  }

  .t-no {
    width: 20%;
  }

  .t-ex {
    width: 20%;
  }

  td.note {
    background: #ffffff !important;
    color: $main-lightgray;
    text-align: justify;
    font-size: $small;
  }

  // @Select
  #select-year--residue,
  #res-sold__select,
  #res-monitor__select,
  #res-frequecy2__select {
    display: inline-block;
    position: relative;
    width: 150px;
    right: 0;
    color: $main-lightgray;
  }

  #select-year--residue {
    margin: 1.5rem 0;
  }

  .res-chart-select__container {
    text-align: center;
  }

  // #CHARTS

  .chart-container {
    margin-top: 90px;
    text-align: center;

    p.note {
      background: transparent;
      width: 70%;
      margin: auto;
      margin-top: 20px;
      color: $main-lightgray;
    }
  }

  .chart {
    width: 70%;
    position: relative;
    @include center;

  }

  .chart2 {
    margin-top: 50px;
  }

  // #TROBLESOME TABLE

  .res-chart__title {
    text-align: center;
    font-size: $h3;
    font-weight: 400;
    margin-bottom: 40px;

  }

  .horizontal-table {
    margin: auto;
    overflow-x: auto;
    display: inline-block;
  }

  .table__container .import__table {
    // max-width: 60% !important;
    margin-top: 20px;
  }


  .import-table {
    th {
      font-weight: 400;
      background: #ecac4b;
      padding: 10px 15px;
    }

    td {
      background: $main-lightyellow;
      display: inline-block;
    }

    ul {
      height: 350px;
      background: $main-lightyellow;
      padding: 15px;
    }

  }

  .vertical-table {
    overflow-y: scroll;
    height: 500px;
    display: none;

    .import__table {
      width: 100%;
    }
  }

  // @sold

  .res-sold__table {
    table {
      margin-top: 30px;
    }

    td,
    th {
      width: 150px;
      text-align: center;
    }

    td:nth-child(3) {
      color: #00a308;
    }

    td:nth-child(4) {
      color: #a06000;
    }

    td:nth-child(5) {
      color: #b40000;
    }
  }

  // @monitor
  .res-monitor__chart,
  .res-frequecy2__chart {
    margin-top: 30px;
  }

  .res-monitor__chart {
    width: 80% !important;


  }

  .monitor__note {
    margin-top: 30px;
    color: $main-lightgray;
    text-align: center;
    font-size: $small;
    font-weight: 300;
  }

  .res-frequecy2__chart {
    display: block;
  }

  .res-monitor__container {
    .container {
      @include flex(row, space-around, center);
    }

    .year {
      font-weight: 400 !important;
    }
  }

  .year2561,
  .year2562 {
    flex: 1 1 10rem;
  }

  .monitor-plants__container {
    width: 70%;
    margin: auto;
    padding-top: 30px;

    div.note {
      padding: 20px 20px 20px 40px;
      background: $main-light;
      border-radius: 0 0 5px 5px;

      ul {
        text-align: justify;

        li {
          list-style-type: disc;
        }
      }
    }
  }

  // @types of chems found in plants 

  .year-container {
    margin-top: 6rem;

    .chart-container {
      width: 40%;
      margin: auto;
    }
  }
}

// #MEDIA QUERIES******************************
@media (max-width: 1150px) {
  #residue {
    .horizontal-table {
      display: none;
    }

    .vertical-table {
      display: inline-block;
    }

    .current-year__container {
      width: 85%;
    }

    .veggies {
      img {
        left: -10px;
      }
    }
  }
}

@media (max-width: 800px) {
  #residue {
    .veggies {
      padding: 1rem 3rem;

      img {
        display: none;
      }

      .text {
        left: 0;
      }
    }

    table {
      font-size: calc(0.6rem + 0.8vw);
    }

    td.note {
      font-size: calc(0.5rem + 0.7vw);
    }

    .chart {
      width: 90%;
    }

    .res-chart__title {
      font-size: calc(1rem + 0.7vw);
    }

    .chart-container p.note {
      font-size: calc(0.5rem + 0.7vw);
    }

    .monitor-plants__container {
      width: 90%;

    }

  }
}

@media (max-width: 500px) {
  #residue {
    .current-year__container {
      width: 90%;
    }
  }
}