#soil-water {
  @include theme(green);
  min-height: 50vh;
  padding: 4%;

  h1.title {
    @include head-text(white);
    text-align: center;
    margin-bottom: 30px;
  }

  h2.title {
    font-weight: 400;
    font-size: $h3;
  }

  .SW__container:nth-child(3) {
    margin: 50px 0;
  }

  .SW-chart__outer-wrap {
    flex: 4 1 20rem;
    margin: 20px 0;
  }

  .SW-chart__wrapper {
    background: white;
    border-radius: 10px;
    padding: 20px;
    width: 85%;
    margin: 20px auto;
    display: inline-block;
    margin: auto;

  }

  p.desc {
    text-align: center;
    font-size: $small;
  }

  .img__wrapper {
    flex: 1 1 50px;
    display: inline-block;
    margin: auto;

    img {
      width: 70%;

    }
  }

  .SW-content__wrapper {
    @include flex(row, space-around, center);
  }
}