@import "global";

body {
  display: grid;
  grid-template-rows: 70px auto fit-content(70px);
  grid-template-areas:
    "head"
    "main"
    "foot";
}


// #NAV
@import "nav";

// #MAIN
main {
  grid-area: main;
}

#top {
  grid-area: head;
  background: $main-dark;
}

@import "select-box";

@import "overall";
@import "map";
@import "chem";
@import "user";
@import "store";
@import "gap";
@import "residue";
@import "impacts";
@import "gg-trends";


// #FOOTER
@import "footer";