* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  outline: 0;
  border: 0;
  text-decoration: none;
  list-style: none; }

_ html {
  font-size: 62.5%; }

body {
  display: grid;
  grid-template-rows: 70px auto fit-content(70px);
  grid-template-areas: "head" "main" "foot"; }

nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: white;
  font-family: "Mitr", sans-serif;
  font-weight: 300;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 70px;
  background: white;
  padding: 0 1%;
  z-index: 100;
  transition: top .8s; }
  nav .logo {
    flex: 1 1 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; }
    nav .logo img {
      height: 40px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      transition: width .5s, height .5s; }
    nav .logo h3 {
      color: #03539B;
      font-size: 1.3rem;
      font-weight: 400;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      transition: font-size .5s; }
  nav .menu {
    opacity: 1;
    visibility: visible; }
  nav ul.big-list {
    flex: 1 1 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: stretch;
    align-items: center; }
    nav ul.big-list a {
      color: #7b7b7b;
      font-size: 1rem;
      display: inline-block;
      text-align: center;
      height: 70px;
      transition: all .2s; }
      nav ul.big-list a:hover {
        background: #0f979b;
        color: white; }
  nav li.list-item {
    height: 30px;
    display: inline-block;
    padding: 20px;
    margin-top: 17px;
    line-height: 0px; }
  nav .border-right {
    border-right: solid 0.5px #ababab; }
  nav .border-left {
    border-left: solid 0.5px #ababab; }
  nav .border-right.green {
    border-right: solid 0.5px #0f979b; }
  nav .border-left.green {
    border-left: solid 0.5px #0f979b; }
  nav .border-right.whiteRight {
    border-right: solid 0.5px white; }
  nav .border-left.whiteLeft {
    border-left: solid 0.5px white; }

.mobile-nav__container {
  transition: opacity .5s; }

.burger__container {
  position: fixed;
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(73, 73, 73, 0.4);
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  transition: all 1s;
  top: 15px;
  right: 15px;
  z-index: 10;
  transition: top .8s; }

.burger {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  pointer-events: none; }
  .burger .line {
    background: #0f979b;
    width: 40px;
    height: 4px;
    border-radius: 3px;
    transition: transform 1s, opacity 1s; }
    .burger .line:nth-child(2) {
      margin: 6px 0;
      opacity: 1; }

.burger .line:nth-child(2).bye {
  opacity: 0; }

.burger .line:nth-child(1).tilt-right {
  transform: rotateZ(50deg) translateY(170%) translateX(7px); }

.burger .line:nth-child(3).tilt-left {
  transform: rotateZ(-50deg) translateY(-170%) translateX(7px); }

.mobile-nav {
  display: none;
  position: fixed;
  background: #DBDBDB;
  right: 10px;
  top: 70px;
  transform: translateY(-100%);
  transition: transform .8s ease-in-out, top .8s;
  z-index: 1;
  border-radius: 0 0 5px 5px; }
  .mobile-nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
  .mobile-nav a {
    color: #323235;
    display: block;
    width: 100%;
    padding: 0 20px;
    font-family: "Mitr", sans-serif;
    font-weight: 300; }
    .mobile-nav a:hover {
      font-family: "Mitr", sans-serif;
      font-weight: 300;
      background: #0f979b;
      color: white; }
    .mobile-nav a:nth-child(6):hover {
      border-radius: 0 0 5px 5px; }
  .mobile-nav li {
    margin: 7px; }

@media (max-width: 1360px) {
  nav .logo h3 {
    font-size: 1.1rem; } }
@media (max-width: 1200px) {
  nav .menu {
    opacity: 0;
    visibility: hidden; }

  .burger__container {
    visibility: visible;
    opacity: 1; }

  .mobile-nav {
    display: block; }

  .mobile-nav.open {
    transform: translateY(0); } }
@media (max-width: 1155px) {
  nav .logo {
    margin-top: 8px;
    transform: margin-top .5s; } }
@media (max-width: 800px) {
  nav .logo h3 {
    font-size: 1rem; }
  nav .logo img {
    height: 30px; }

  .burger__container {
    margin-right: 5px; }

  .burger .line:nth-child(2) {
    margin: 5px 0; }

  .burger .line {
    transition: transform 1s, opacity 1s; }

  .burger .line:nth-child(1).tilt-right {
    transform: rotateZ(50deg) translateY(100%) translateX(7px); } }
@media (max-width: 450px) {
  nav .logo a {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; }
    nav .logo a img {
      margin: auto; }
    nav .logo a h3 {
      grid-column: 2/3; } }
main {
  grid-area: main; }

#top {
  grid-area: head;
  background: #323235; }

#overall {
  background: #323235;
  min-height: 50vh;
  position: relative;
  overflow: hidden;
  padding: 20px 3% 50px 3%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  #overall img.bg-img {
    opacity: 7%;
    user-select: none;
    position: absolute;
    top: -50px;
    left: -350px;
    bottom: 0;
    pointer-events: none; }
  #overall .left__container {
    flex: 1 1 50px; }
  #overall .title__container {
    margin: 1rem 0; }
    #overall .title__container h1 {
      font-size: 3rem;
      font-family: "Niramit", sans-serif;
      color: white;
      line-height: 4.5rem; }
      #overall .title__container h1:nth-child(2) {
        text-indent: 2rem;
        margin-bottom: 1rem; }
    #overall .title__container p {
      color: #0f979b;
      font-family: "Mitr", sans-serif;
      font-size: 1rem;
      text-indent: 2rem; }
      #overall .title__container p:nth-child(4) {
        font-weight: 300;
        margin-bottom: 2rem; }
  #overall .logo__container ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2rem; }
    #overall .logo__container ul a {
      cursor: pointer; }
    #overall .logo__container ul li {
      background: rgba(255, 255, 255, 0.7);
      border-radius: 5px;
      padding: 5px;
      width: 90px;
      height: 90px;
      text-align: center;
      cursor: pointer;
      transition: all 0.5s; }
    #overall .logo__container ul a:not(:nth-child(1)) {
      margin-left: 15px; }
    #overall .logo__container ul a:nth-child(1) img,
    #overall .logo__container ul a:nth-child(4) img {
      width: 100%; }
    #overall .logo__container ul a:nth-child(2) img {
      width: 80%; }
    #overall .logo__container ul a:nth-child(3) img {
      width: 90%; }
  #overall .right__container {
    flex: 1.3 1 50px;
    font-family: "Mitr", sans-serif; }
  #overall .box {
    color: white;
    display: grid;
    grid-template-rows: repeat(2, 130px);
    grid-template-columns: 300px repeat(2, 200px);
    grid-gap: 20px 20px;
    font-weight: 300; }
    #overall .box > div {
      border-radius: 10px;
      text-align: center;
      padding: 1rem; }
      #overall .box > div h1 {
        font-weight: 400;
        display: block; }
  #overall .user__box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    background: #0f979b; }
    #overall .user__box:hover {
      background: linear-gradient(135deg, #16cfb0, #0f979b, #06627e);
      background-size: 50rem;
      animation: btn-bg 2s ease-in-out infinite alternate; }
    #overall .user__box p {
      font-size: 1.8rem; }
    #overall .user__box h1 {
      font-size: 4rem; }
  #overall .store__box {
    grid-row: 1 / 2;
    grid-column: 2 / 4;
    background: #EDB500; }
    #overall .store__box:hover {
      background: linear-gradient(135deg, #ffd000, #EDB500, #da8312);
      background-size: 50rem;
      animation: btn-bg 2s ease-in-out infinite alternate; }
    #overall .store__box p {
      font-size: 1.3rem; }
    #overall .store__box h1 {
      font-size: 3rem; }
  #overall .quantity__box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background: #009240; }
    #overall .quantity__box:hover {
      background: linear-gradient(135deg, #476b04, #009240, #046b31);
      background-size: 50rem;
      animation: btn-bg 2s ease-in-out infinite alternate; }
  #overall .patient__box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    background: #ff5975; }
    #overall .patient__box:hover {
      background: linear-gradient(135deg, #df5399, #ff5975, #e44b4b);
      background-size: 50rem;
      animation: btn-bg 2s ease-in-out infinite alternate; }
  #overall .quantity__box p,
  #overall .patient__box p {
    font-size: "Mitr", sans-serif; }
  #overall .quantity__box h1,
  #overall .patient__box h1 {
    font-size: 1.8rem; }
  #overall p.note {
    color: #7b7b7b;
    font-weight: 300;
    font-size: 0.8rem;
    position: absolute;
    bottom: 20px; }

@keyframes btn-bg {
  from {
    background-position: left; }
  to {
    background-position: right; } }
@media (max-width: 1295px) {
  #overall .title__container h1 {
    font-size: calc(2.2rem + 1vw); }
    #overall .title__container h1:nth-child(2) {
      text-indent: 2rem;
      margin-bottom: 1rem; }
  #overall .box {
    grid-template-rows: repeat(auto-fit, 150px);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 15px 15px; }
  #overall .user__box {
    grid-row: auto;
    grid-column: auto; }
    #overall .user__box p {
      font-size: calc(0.5rem + 1vw); }
    #overall .user__box h1 {
      font-size: calc(1.5rem + 1.5vw); }
  #overall .store__box {
    grid-row: auto;
    grid-column: auto; }
    #overall .store__box p {
      font-size: calc(0.5rem + 1vw); }
    #overall .store__box h1 {
      font-size: calc(1.5rem + 1.5vw); }
  #overall .quantity__box,
  #overall .patient__box {
    grid-row: auto;
    grid-column: auto; }
    #overall .quantity__box p,
    #overall .patient__box p {
      font-size: calc(0.5rem + 1vw); }
    #overall .quantity__box h1,
    #overall .patient__box h1 {
      font-size: calc(1.5rem + 1.5vw); } }
@media (max-width: 1190px) {
  #overall .left__container {
    flex: 1.5 1 50px; }
  #overall .right__container .box {
    grid-template-rows: repeat(auto-fit, 120px);
    grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
    grid-gap: 10px 10px; }
    #overall .right__container .box > div {
      padding: 5px; } }
@media (max-width: 950px) {
  #overall .left__container {
    flex: 2 1 50px; }
  #overall .logo__container ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; }
    #overall .logo__container ul li {
      width: calc(70px + 1.5vw);
      height: calc(70px + 1.5vw); }
    #overall .logo__container ul a:not(:nth-child(1)) {
      margin-left: 10px; } }
@media (max-width: 845px) {
  #overall {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0px; }
    #overall .title__container p:nth-child(4) {
      margin-bottom: 0.5rem; }
    #overall .logo__container ul {
      margin-left: 0rem;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
    #overall .right__container {
      margin-top: 20px; }
      #overall .right__container .box {
        grid-template-rows: repeat(2, 100px);
        grid-template-columns: repeat(2, minmax(200px, 300px));
        grid-gap: 15px 15px;
        margin-bottom: 1rem; }
        #overall .right__container .box > div {
          padding: 5px; }
    #overall .store__box {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center; } }
@media (max-width: 480px) {
  #overall .title__container {
    margin: 1rem 0; }
    #overall .title__container h1 {
      line-height: 4rem; }
      #overall .title__container h1:nth-child(2) {
        text-indent: 0rem;
        margin-bottom: 0.5rem; }
    #overall .title__container p {
      text-indent: 0rem; }
      #overall .title__container p:nth-child(4) {
        margin-bottom: 1rem; }
  #overall .right__container {
    margin-top: 20px; }
    #overall .right__container .box {
      grid-template-rows: repeat(3, 110px);
      grid-template-columns: repeat(2, minmax(80px, 400px));
      grid-gap: 10px 10px; }
  #overall .user__box {
    grid-row: 1 / 2;
    grid-column: 1 / 3; }
    #overall .user__box p {
      font-size: calc(1rem); }
  #overall .store__box {
    grid-row: 2 / 3;
    grid-column: 1 /2; }
    #overall .store__box p {
      font-size: calc(1rem); }
  #overall .quantity__box {
    grid-row: 2 / 3;
    grid-column: 2 / 3; }
    #overall .quantity__box p {
      font-size: calc(1rem); }
  #overall .patient__box {
    grid-row: 3 / 4;
    grid-column: 1 / 3; }
    #overall .patient__box p {
      font-size: calc(1rem); } }
#chem {
  font-family: "Mitr", sans-serif;
  font-weight: 300;
  background: white;
  color: #323235;
  min-height: 60vh;
  padding: 4%; }
  #chem .chem-group__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #chem .chem-group__container h1 {
      font-size: 1.8rem;
      font-family: "Mitr", sans-serif;
      color: #0f979b;
      font-weight: 400; }

#prov-options {
  margin: 1.5rem 0;
  position: relative;
  border-radius: 3px;
  color: #7b7b7b;
  width: 150px; }

.prov-first {
  text-align: center;
  position: relative;
  border: solid 1px #ababab;
  border-radius: 3px;
  padding: 0.5em 1rem;
  background: white;
  z-index: 5;
  cursor: pointer;
  user-select: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.prov-first.radius {
  border-radius: 3px 3px 0px 0px; }

.dropdown-value {
  display: inline-block;
  width: 85%;
  text-align: center; }

.dropdown__panel {
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
  height: 300px;
  overflow: hidden;
  pointer-events: none; }

.dropdown__items {
  background: white;
  border: solid 1px #ababab;
  border-top: none;
  z-index: 2;
  left: 0;
  right: 0;
  height: 180px;
  cursor: pointer;
  transform: translate(0px, -200px);
  transition: transform 0.5s ease-out;
  pointer-events: all;
  border-radius: 0px 0px 3px 3px;
  overflow-y: scroll;
  overflow-x: hidden;
  pointer-events: all; }
  .dropdown__items::-webkit-scrollbar {
    width: 5px; }
  .dropdown__items::-webkit-scrollbar-thumb {
    background: #7b7b7b;
    border-radius: 2px; }
  .dropdown__items::-webkit-scrollbar-track {
    background: #e3e3e3; }

.dropdowm__item {
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 5px 0; }
  .dropdowm__item:hover {
    background: #ffc302;
    color: #323235; }

.dropdown-arrow img {
  transition: transform 0.5s; }

#users {
  font-family: "Mitr", sans-serif;
  font-weight: 300;
  background: #0f979b;
  color: white;
  min-height: 60vh; }

#store {
  font-family: "Mitr", sans-serif;
  font-weight: 300;
  background: #DBDBDB;
  color: #323235; }

#gap {
  font-family: "Mitr", sans-serif;
  font-weight: 300;
  background: #0f979b;
  color: white; }

#impacts {
  font-family: "Mitr", sans-serif;
  font-weight: 300;
  background: white;
  color: #323235; }

footer {
  grid-area: foot;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: #323235;
  color: #ababab;
  font-size: 0.8rem;
  font-family: "Mitr", sans-serif;
  font-weight: 300;
  padding: 10px 3%; }
  footer .left {
    margin-right: 30px;
    position: relative;
    width: 350px;
    text-align: right; }
  footer .left::after {
    content: "";
    width: 1px;
    height: 45px;
    position: absolute;
    top: 0;
    right: -15px;
    background: #ababab; }

@media (max-width: 746px) {
  footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end; }
    footer .left {
      margin: 0; }
      footer .left::after {
        display: none; } }

/*# sourceMappingURL=style.css.map */
